@import './base.css';

#app {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.router-link-active {
  color: #84A7AE;
  font-weight: 600;
}

@media (hover: hover) {
  a:hover {
    color: white;
    background-color: #84A7AE;
  }
}
